body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    padding: 1px;
    background-color: rgba(211, 211, 211, 0.841);
}
section{
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    text-align: center;
    background-color:rgb(185, 244, 244);
}
input{
  
    border-color: transparent;
    font-size: 25px;
    color: red;
    font-family: Impact;
}
div{
    padding-left: 65%;
    padding-top: 15px;
    align-content: flex-end;
    text-align: center;
    font-size: 20px;
    color: red;
    font-family: Impact;
}